{
  "version": 4,
  "repos": [
    {
      "url": "git@github.com:org/app.git",
      "lastBackupAt": null,
      "lastCheckedAt": null,
      "selectedLast": false
    },
    {
      "url": "git@gitlab.com:acme/service.git",
      "lastBackupAt": null,
      "lastCheckedAt": null,
      "selectedLast": false
    }
  ]
}
